body {
  background-color: #ededed;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header,footer {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#myGraph {
  background-color: #fff;
  height: 80vh;
  width: 100vw;
}

form {
  display: flex;
  width: 60%;
}

button {
  background-color:#8BC34A;
  color:#fff;
  border:0;
  border-radius:4px;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  font-weight:bold;
  font-size:1.2em;
  min-width:12em;
}

button.export {
background-color: #9E9E9E;
}

label {
  flex-grow: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
}

input {
  flex-grow:1;
  margin:1em 1em;
}



.sample {
  border: solid 1px #999;
  background-color: #cdcdcd;
  padding: 0.2em 0.6em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.toolbox {
  padding:0.5em;
  display:flex;
}

.toolbox a {
  padding:0em 1em;
}

#exporterFakeLink {
  display:none;
}

#info {padding:0.4em 1em;
background-color:#f6f6f6}
